 body { 
    width: 800px; 
    height: 800px;
    display: flex; 
    flex-direction: row-reverse;  
    
 } 

.child1 {
    width: 500px; 
    height: 500px;
    background: green; 
}

 .child2 {
    width: 500px; 
    height: 500px; 
    background: blue; 
}

