 .pagecontainer {
    
 }


 header { 
    display: flex; 
    justify-content: center; 
    margin: 50px; 
 } 

.box1 {
    width: 500px; 
    height: 500px;
    background: green;
    margin: 5px; 
}

 .box2 {
    width: 500px; 
    height: 500px; 
    background: blue; 
    margin: 5px; 
}

/* Play around with muiltiple items using Flexbox  */

.secondcontainer {
     display: flex; 
     align-items: center; 
     justify-content: center; 
     justify-content: space-around;

    
}

.box3 {
    width: 200px; 
    height: 200px;
    background: black; 
    color: white; 

}
